body
	{
	background-image: url("tlo.jpg"), url("tlo.jpg"), url("jesien.jpg"), url("zima.jpg"); 
	background-position: top, bottom, left, right;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-attachment: fixed;
	background-color: black
	}

#glowny
	{
	width: 1200px;
	background-color: #A0E8E8;
	margin-left: auto;
	margin-right: auto;
	}
#naglowek
	{
	margin-top: 0px;
	padding: 20px;
	background-color: #3D7373;	
	text-align: center;	
	color: white;
	font-family: Source Serif Pro Black;
	font-size: 35px;
	}
	
.opcje
	{
	float: left;
	width: 175px; 
	background-color: #559E9E;
	text-align: center;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: white;
	border-right: 3px dotted #ffffff;
	font-family: Book Antiqua;
	font-weight: 900;
	font-size: 20px;
}
.opcje:hover
	{
	background-color: #F2C785;	
	}

#boklewy {
  float: left;
  width:500px;
  min-height: 550px;
  background-color: #A0E8E8;
  color: black;
  padding: 15px;
  padding-top: 40px;
  font-size: 12px;
}

#bokprawy {
  float: left;
  width:615px;
  min-height: 510px;
  background-color: #A0E8E8;
  color: black;
  padding: 15px;
  padding-top: 50px;
  font-family: Cambria;
  font-size: 20px;
  padding-right: 40px;
  text-align: justify;
}

#dol

	{
	background-color: #559E9E;
	text-align: center;
	color: white;
	font-family: Book Antiqua;
	font-weight: 900;	
	padding: 5px;	
	}

	

